.project-card {
    margin-top : 0;
  background-color: #282828;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(108, 56, 255, 0.3);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* מיישר לשמאל כברירת מחדל */
  gap: 12px;
  text-align: left;
}

.project-card h3 {
  align-self: center; /* מרכז את הכותרת בלבד */
  font-size: 1.3rem;
  color: #fff;
  margin: 0;
}

.project-card p {
  font-size: 1rem;
  color: #ccc;
  margin: 0;
}

.project-card:hover {
  transform: translateY(-6px);
}
